* {
   margin: 0;
   padding: 0;
}

p {
   margin: 0;
   padding: 0;
}

.for-bottom {
   position: relative !important;
   padding-bottom: 210px !important;
}

.to-bottom {
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   padding: 15px;
}

.basket-price h3 {
   font-size: 1.4rem;
   font-weight: 600;
   color: #3f54cd;
}

.basket-price p {
   font-size: .9rem;
   color: #0822b2;
}

.basket-price p strong {
   font-size: .9rem;
   font-weight: 600;
}
.hr {
   width: 100%;
   height: 1px;
   background-color: #959595ac;
   margin: 5px 0 10px;
}

@media (min-width: 992px) {
   .basket-price p {
      font-size: 1rem;
   }

   .basket-price p strong {
      font-size: 1rem;
      font-weight: 600;
   }

   .hr {
      margin: 0 0 15px;
   }
}