*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif !important;
}

table, tr, th, td, input, select, option, ul, li {
    font-family: 'Source Sans Pro', sans-serif !important;
}