.title {
   position: relative;
   width: 100%;
   display: flex;
   background-color: transparent;
   padding: 1.7rem 0;
}

.title-box {
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
   border-radius: 0.25rem;
   margin-right: 20px;
}

.title-box svg {
   font-size: 1.7rem;
   color: #9db9fb;
}

.title-text {
   display: flex;
   height: 50px;
   flex-direction: column;
   justify-content: space-between;
   padding: 0;
}

.title-text h3 {
   margin: 0;
   font-size: 1.4rem;
   font-weight: 400;
}

.title-text span {
   font-size: 13px;
   color: #333;
   font-weight: 300;
   letter-spacing: 0;
   margin: 0;
}

@media (min-width: 992px) {
   .title-box {
      width: 60px;
      height: 60px;
      margin-right: 30px;
   }

   .title-box svg {
      font-size: 2rem;
   }

   .title-text {
      display: flex;
      height: 60px;
      padding: 5px 0;
   }

   .title-text span {
      font-size: 14px;
      letter-spacing: 1px;
   }
}