.line-chart-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.line-chart-title {
   padding: 10px 5px;
}

.line-chart-title h3 {
   font-size: 2.2rem;
   font-weight: 500;
   color: #575f68;
   margin: 0;
}

.line-chart-title h3 article {
   position: relative;
   display: inline-block;
   font-size: 1.7rem;
   color: #A4A8AB;
   transform: translateY(-2px);
}

.line-chart-header span {
   position: relative;
   display: inline-block;
   font-size: 0.8rem;
   font-weight: 400;
   color: #63676b;
   letter-spacing: 1px;
   transform: translateY(-4px);
}