* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

::-webkit-scrollbar {
   width: 7px;
   height: 10px;
   cursor: pointer;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px #6060df;
   cursor: pointer;
}

::-webkit-scrollbar-thumb {
   background-color: #1976d2;
   outline: 1px solid rgb(121, 129, 136);
   cursor: pointer;
}

.box {
   width: 100%;
   min-width: 100%;
   padding: 15px 15px 2px 15px;
   border-radius: 4px;
   background: #FCF6F0;
   box-shadow: 0 0 5px #c9c2c2;
}

.my_table {
   position: relative;
   width: 100%;
   min-width: 100%;
   min-height: 500px;
   overflow-x: scroll;
}
.my_table.list {
   min-height: 0;
}

.my_table ul {
   width: 100%;
}
.my_table ul li {
   width: 100%;
}
.my_table button {
   border-radius: 5px !important;
}

.my_table ul .my_table_header {
   display: flex;
   flex-wrap: nowrap;
}

.my_table_header span {
   position: relative;
   display: block;
   min-width: 120px;
   width: 100%;
   color: #74959A;
   font-weight: 500;
   font-size: 14px;
   text-align: left;
   padding: 0 5px;
   border-bottom: 1px solid #bfdadf;
}
@keyframes tableElemAnimation {
   from {
      transform: translateY(30px);
   }
}

.my_table li span.my_table_name {
   min-width: 200px;
   max-width: 100%;
   display: flex;
   align-items: center;
   cursor: pointer;
   word-wrap: break-word;
   word-break: break-all;
}

.my_table li span.my_table_name article {
   width: 17%;
   height: 100%;
}

.my_table li span.my_table_name article svg {
   font-size: 25px;
}

.my_table ul li.my_table_body {
   max-width: 100%;
   display: flex;
   height: 100%;
   align-items: center;
   flex-wrap: nowrap;
   padding: 10px 0;
   /* animation: tableElemAnimation .2s linear; */
}
.my_table_body span {
   display: block;
   flex-basis: 100%;
   min-width: 120px;
   color: #414C59;
   font-weight: 600;
   text-align: left;
   padding: 0 5px;
   font-size: 16px;
   opacity: 1;
}

span.my_table_btns, span.my_table_count {
   min-width: 100px;
   display: flex;
   align-items: center;
}

.product-list span.my_table_btns {
   min-width: 70px;
   height: 100%;
   justify-content: flex-end;
   padding-right: 25px;
}

button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f13050;
   padding: 7px 8px;
   border-radius: 3px;
   margin-left: 15px;
   outline: none;
   border: none;
   transform: scale(1);
   transition: .25s transform linear;
   font-size: 10px;
}

button:hover {
   transform: scale(1.08);
}

.btn-edit {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #6060df;
   padding: 7px 8px;
   margin-left: 0;
   border-radius: 3px;
   color: #ffffff;
   transform: scale(1);
   transition: .25s transform linear;
}

.my_table_btns .btn-edit:hover {
   transform: scale(1.08);
}

button svg {
   font-size: 18px;
   color: #fff;
}

.table_description {
   min-width: 200px !important;
}

.table_description small i {
   color: #7c7171 !important;
}

@media (min-width: 992px) {

   .my_table_header span {
      min-width: 150px;
   }

   .my_table_body span {
      min-width: 150px;
   }

   span.my_table_btns, span.my_table_count {
      min-width: 110px;
   }

   .my_table li span.my_table_name {
      min-width: 250px;
   }

   .product-list span.my_table_btns {
      min-width: 70px;
   }

   .table_description {
      min-width: 270px !important;
   }
}