h3.basket-title {
   font-weight: 500;
}
.autoContainer {
   padding: 0;
}
.autoContainer .option {
   border-bottom: 1px solid #565656;
   cursor: pointer;
   padding: 3px 0;
   transition: .2s;
}
.autoContainer .option:hover {
   background: #fcfbfb;
}
.autoContainer .option span {
   font-style: normal;
   font-weight: 500;
}